.main-wrapper {
    height: 100vh;  
}

.section{ 
    margin: 0;
    height: 100%;
}

.logo{
    font-weight: bold;
    font-size: 7em;
}


.menu a {
    font-weight: 100;
}


.social-links a{
	display: inline-block;
	height: 75px;
	width: 75px;
	background-color: rgb(61, 61, 63);
	margin:0 40px 40px 0;
	text-align: center;
	line-height: 75px;
	border-radius: 75%;
	color: #8f6791;
	transition: all 0.5s ease;
}
.social-links a:hover{
	color: #5e84e3;
	background-color: #491f1f;
}





 